@import url('variables.css');

@media (max-width: 1360px) {
    .weather-more-detailed__detailed-list {
        gap: 18px;
    }
}

@media (max-width: 1195px) {
    .container {
        max-width: 348px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .aside {
        width: 66%;
    }


    .weather-aside {
        width: 39%;
        padding-top: 51px;
    }

    .weather-aside__search-block {
        padding-top: 81px;
        padding-right: 20px;
        padding-left: 31px;
    }

    .weather-aside__search-activate-block {
        padding: 0 23px;
    }

    .weather-aside__close-btn {
        top: 19px;
        right: 20px;
    }

    .weather-aside__search-input {
        width: 100%;
    }

    .weather {
        padding-top: 60px;
    }

    .weather-select {
        margin-bottom: 42px;
    }

    .weather-select__top {
        margin-right: -21px;
    }

    .weather-select__slider-btn-prev {
        left: -50px;
    }

    .weather-select__slider-btn-next {
        right: -50px;
    }


    .weather-more-detailed__title {
        margin-bottom: 27px;
        margin-left: -10px;
    }

    .weather-more-detailed {
        width: 320px;
    }

    .weather-more-detailed__detailed-list {
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }
}

@media (max-width: 768px) {
    .main {
        flex-direction: column;
        align-items: center;
    }

    .aside {
        height: unset;
        width: 315px;
        width: 100%;
        background-color: var(--aside-bg);
    }



    .weather-aside {
        align-items: center;
        position: relative;
        width: 100%;
        padding-top: 31px;
    }

    .weather-aside__search-activate-block {
        padding-left: 0;
        padding: 0 10px;
        width: 315px;
    }

    .weather-aside__state {
        width: 315px;
    }

    .weather-aside__img {
        margin-bottom: -29px;
    }

    .weather {
        min-height: 300px;
        padding-top: 49px;
    }

    .weather-aside__location {
        margin-bottom: 33px;
    }

    .weather-select {
        margin-bottom: 59px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .weather__title {
        text-align: center;
    }

    .weather-select__top {
        justify-content: center;
        margin-right: 0;
        margin-bottom: 42px;
    }

    .weather-select__top .title {
        margin-bottom: 6px;
    }

    .weather-select__list-top {
        justify-content: space-around;
        width: 100%;
    }

    .weather-select__main {
        width: unset;
    }

    .weather-select__slider-list {
        gap: 30px 55px;
    }

    .list-active {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .container {
        max-width: 348px;
    }

    .weather-select__slider-btn {
        display: none;
    }

    .weather-select__slider-list {
        flex-wrap: wrap;
        justify-content: center;
    }

    .weather-more-detailed {
        margin-right: 0;
    }

    .weather-more-detailed__detailed-list {
        gap: 45px;
    }
}

@media (max-width: 500px) {}