@media (max-width: 1360px) {
    .weather-more-detailed__detailed-list {
       gap: 18px;
    }
}

@media (max-width: 1195px) {
    .container {
        max-width: 348px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .weather-aside__search-activate-block {
        padding-left: 23px;
    }

    .weather-select__item:nth-child(4),
    .weather-select__item:nth-child(5),
    .weather-select__item:nth-child(6) {
        display: none;
    }

    .weather-more-detailed__title {
        margin-bottom: 19px;
    }

    .weather-more-detailed {
        width: 320px;
    }

    .weather-more-detailed__detailed-list {
        grid-template-columns: repeat(1, 1fr);

    }
}

@media (max-width: 768px) {
    .main {
        flex-direction: column;
        align-items: center;
    }

    .aside {
        height: unset;
        width: 315px;
    }


    .weather-aside {
        position: relative;
        width: 100%;
    }

    .weather-aside__search-activate-block {
        padding-left: 0;
    }

    .weather {
        min-height: 300px;
    }

    .weather__title {
        text-align: center;
    }

    .weather-select__top {
        justify-content: center;
    }

    .weather-select__list-top {
        justify-content: space-around;
    }

    .weather-select__item:nth-child(4),
    .weather-select__item:nth-child(5),
    .weather-select__item:nth-child(6) {
        display: block;
    }

    .container {
        max-width: 348px;
    }

    .weather-select__slider-btn {
        display: none;
    }

    .weather-select__slider-list {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 500px) {}