@import url('variables.css');

/*weather-aside */
.aside {
    width: 50%;
    /* max-width: 476px; */
    height: 100vh;
    position: relative;
}

.weather-aside {
    display: flex;
    position: fixed;
    width: 32%;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-height: 667px;
    padding-top: 42px;
    background-color: var(--aside-bg);
    background-image: url('../assets/img/cloud-bg.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-blend-mode: difference;
}

.weather-aside__search-block {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 22px;
    position: absolute;
    padding-top: 76px;
    padding-right: 37px;
    padding-left: 44px;
    background-color: var(--aside-bg);
    width: 100%;
    height: calc(100% - 44px);
    left: -300%;
    transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
    z-index: 2;
}

.search-block--active {
    animation: slideFromLeft 0.5s alternate;
    left: 0%;
    top: 30px;
    opacity: 1;
}


.weather-aside__close-btn {
    position: absolute;
    top: 6px;
    right: 37px;
    border: none;
    padding: 0;
    transition: opacity 0.3s linear;
}

.weather-aside__close-btn svg {
    fill: var(--cross);
}

.weather-aside__close-btn:focus {
    outline: none;
    opacity: 0.7;
}

.weather-aside__close-btn:hover {
    opacity: 0.7;
}

.weather-aside__close-btn:active {
    opacity: 0.5;
}




.weather-aside__search-input {
    /* padding-left: 44px; */
    background-image: url('../assets/img/svg/magnifying-glass.svg');
    background-repeat: no-repeat;
    background-position: 17px, center;
}

.weather-aside__close-btn svg {
    width: 26px;
    height: 26px;
}

.weather-aside__search-btn:focus {
    outline: none;
    border-color: var(--btn-border-transition);
    background-color: var(--btn-bg-transition);
}

.weather-aside__search-btn:hover {
    background-color: var(--btn-bg-transition);
}

.weather-aside__search-block .weather-aside__search-btn {
    padding: 14px 19px;
}



.weather-aside__search-activate-block {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 41px;
    margin-bottom: 23px;
}

.weather-aside__theme-switch input {
    z-index: 1;
    position: relative;
    width: 64px;
    height: 32px;
    appearance: none;
    outline: none;
    background-color: var(--aside-bg);
    border: 2px solid var(--btn-border);
    border-radius: 16px;
    cursor: pointer;
    transition: linear 0.3s;
}

.weather-aside__theme-switch input:focus {
    outline: none;
    border-color: var(--btn-border-transition);
    background-color: var(--btn-bg-transition);
}

.weather-aside__theme-switch input:hover {
    background-color: var(--btn-bg-transition);
}


.weather-aside__theme-switch input::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    top: 4px;
    left: 4px;
    background-color: var(--theme-toggle);
    background-image: url('../assets/img/svg/dark-theme.svg');
    background-position: 40% 40%;
    background-repeat: no-repeat;
    transition: left linear 0.1s;
}


.weather-aside__theme-switch input:checked::after {
    top: 4px;
    left: 36px;
}


.weather-aside__img {
    align-self: center;
}

.weather-aside__main-block {
    /* padding-left: 41px;
    margin-right: 41px; */
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}



.weather-aside__state {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 80px;
}

.weather-aside__degrees {
    margin: 0;
    margin-bottom: 17px;
    font-size: 96px;
    font-weight: 900;
    line-height: 114px;
    letter-spacing: 0em;

}


.weather-aside__degree-symbol {
    padding-left: 11px;
    font-size: 50px;
    font-weight: 500;
    line-height: 59px;
    letter-spacing: 0em;

}

.weather-aside__degrees-subtext-1 {
    margin: 0;
    margin-bottom: 17px;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;

}

.weather-aside__gray-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--btn-border);

}

.weather-aside__bottom {
    width: 100%;
}

.weather-aside__date {
    width: 100%;
    display: flex;
    /* gap: calc(100% - 168px); */
    justify-content: space-around;
    margin-bottom: 25px;
}

.weather-aside__location {
    display: flex;
    align-items: center;
    gap: 9px;
    margin-right: 43px;
    margin-bottom: 38px;
}

.weather-aside__baloon {
    width: 40px;
    height: 40px;
}