@import url('variables.css');

/*weather-aside */

.weather-aside {
    display: flex;
    position: fixed;
    width: 32%;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-height: 667px;
    padding-top: 42px;
    background-color: var(--aside-bg);
    background-image: url('../assets/img/cloud-bg.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-blend-mode: difference;
}

.weather-aside__search-block {
    position: absolute;
    padding-top: 76px;
    padding-right: 37px;
    padding-left: 44px;
    background-color: var(--aside-bg);
    width: 100%;
    height: calc(100% - 44px);
    left: -300%;
    top: 30px;
    transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
    z-index: 2;

}

.search-block--active {
    animation: slideFromLeft 0.5s alternate;
    left: 0%;
    opacity: 1;
}

.weather-aside__search-form {
    display: flex;
    gap: 22px;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;
    margin-bottom: 30px;
}


.weather-aside__close-btn {
    position: absolute;
    top: 6px;
    right: 37px;
    border: none;
    padding: 0;
    transition: opacity 0.3s linear;
}

.weather-aside__close-btn svg {
    fill: var(--cross);
}

.weather-aside__close-btn:focus {
    outline: none;
    opacity: 0.7;
}

.weather-aside__close-btn:hover {
    opacity: 0.7;
}

.weather-aside__close-btn:active {
    opacity: 0.5;
}




.weather-aside__search-input {
    padding-left: 44px;
    height: 53px;
    background-image: url('../assets/img/svg/magnifying-glass.svg');
    background-repeat: no-repeat;
    background-position: 17px, center;
}

.weather-aside__close-btn svg {
    width: 26px;
    height: 26px;
}

.weather-aside__search-btn:focus {
    outline: none;
    border-color: var(--btn-border-transition);
    background-color: var(--btn-bg-transition);
}

.weather-aside__search-btn:hover {
    background-color: var(--btn-bg-transition);
}

.weather-aside__search-block .weather-aside__search-btn {
    padding: 14px 19px;
}

.weather-aside__search-list-title {
    font-size: 23px;
    margin-bottom: 10px;
}

.weather-aside__search-list button {
    transition: color 0.3s linear;
}

.weather-aside__search-list button:hover {
    color: var(--text);
}


.weather-aside__search-activate-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 41px;
    margin-bottom: 23px;
}

.weather-aside__theme-switch input {
    z-index: 1;
    position: relative;
    width: 64px;
    height: 32px;
    appearance: none;
    outline: none;
    background-color: var(--aside-bg);
    border: 2px solid var(--btn-border);
    border-radius: 16px;
    cursor: pointer;
    transition: linear 0.3s;
}

.weather-aside__theme-switch input:focus {
    outline: none;
    border-color: var(--btn-border-transition);
    background-color: var(--btn-bg-transition);
}

.weather-aside__theme-switch input:hover {
    background-color: var(--btn-bg-transition);
}


.weather-aside__theme-switch input::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    top: 4px;
    left: 4px;
    background-color: var(--theme-toggle);
    background-image: url('../assets/img/svg/dark-theme.svg');
    background-position: 45% 49%;
    background-repeat: no-repeat;
    transition: left linear 0.1s;
}


.weather-aside__theme-switch input:checked::after {
    top: 4px;
    left: 36px;
}


.weather-aside__img {
    align-self: center;
}

.weather-aside__main-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}



.weather-aside__state {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 80px;
}

.weather-aside__degrees {
    margin: 0;
    margin-bottom: 17px;
    font-size: 96px;
    font-weight: 900;
    line-height: 114px;
    letter-spacing: 0em;

}


.weather-aside__degree-symbol {
    padding-left: 11px;
    font-size: 50px;
    font-weight: 500;
    line-height: 59px;
    letter-spacing: 0em;

}

.weather-aside__degrees-subtext-1 {
    margin: 0;
    margin-bottom: 17px;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;

}

.weather-aside__gray-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--btn-border);

}

.weather-aside__bottom {
    width: 100%;
}

.weather-aside__date {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}

.weather-aside__location {
    display: flex;
    align-items: center;
    gap: 9px;
    margin-right: 43px;
    margin-bottom: 38px;
}

.weather-aside__baloon {
    width: 40px;
    height: 40px;
}

.weather-aside__warning-block {
    margin-top: auto;
    margin-bottom: auto;
}

.weather-aside__warning {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 27px;
    text-align: center;
    width: 100%;
}

.weather-aside__warning p {
    width: 70%;
}

@media (max-width: 1195px) {

    /* weather-aside */
    .weather-aside {
        width: 39%;
        padding-top: 51px;
    }

    .weather-aside__search-block {
        padding-top: 81px;
        padding-left: 31px;
    }

    .weather-aside__search-activate-block {
        padding: 0 23px;
    }

    .weather-aside__close-btn {
        top: 19px;
        right: 20px;
    }

    .weather-aside__search-input {
        width: 100%;
    }

}

@media (max-width: 768px) {


    /* weather-aside */
    .weather-aside {
        align-items: center;
        position: relative;
        width: 100%;
        padding-top: 31px;
    }

    .weather-aside__search-activate-block {
        padding-left: 0;
        padding: 0 10px;
        width: 315px;

    }

    .weather-aside__search-block {
        padding-left: 0;
        padding: 0 10px;
        width: 315px;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        padding-top: 44px;
    }

    .weather-aside__search-input {
        max-width: 315px;
    }

    .weather-aside__state {
        width: 315px;
    }

    .weather-aside__img {
        margin-bottom: -29px;
    }

    .weather-aside__location {
        margin-bottom: 33px;
    }


}